html,body,div,span,applet,object,iframe,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,label,legend,p,blockquote,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}body{line-height:1;color:black;}:focus{outline:0;}table{border-collapse:collapse;border-spacing:0;}caption,th,td{text-align:left;font-weight:normal;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}ol,ul{list-style:none;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}blockquote:before,blockquote:after,q:before,q:after{content:"";}blockquote,q{quotes:"" "";}abbr,acronym{border:0;}

:root {
    font-size: 12pt;
}

body {
    color: darkgrey;
    position:relative;
}

nav {
    position:absolute;
    right:0;
    color: white;
    z-index: 1;
}

header {
    background: radial-gradient(#383838, black);
    line-height: 1.2em;
    height: 63vh;
    min-height: 6.5em;
    box-sizing: border-box;
    color: hsl(0, 0%, 85%);
    position: relative;
    font-size: 1.8em;
    font-family: sans-serif;
    margin: 0 auto;
    text-align: center;
    padding: 30vh 0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.81);
    transition: padding-top .35s linear, font-size .35s ease-out;
}

h1 {
    font-size: 1.7em;
    margin-bottom: .7em;
    font-weight: 600;
    text-align:right;
}

.intro{
    width: 72vw;
}

.intro-text{
    display: inline-block;
}

.ad {
    position: relative;
    text-align: left;
    display: inline;
    text-indent: .3em;
}

.ad span {
    position: absolute;
    opacity: 0;
    overflow: hidden;
    animation: rotateWord 18s linear infinite 0s;
    width: 8em;
    color: hsla(284, 87%, 58%, 1);
}

.ad span:nth-child(2) { 
	animation-delay: 3s; 
	color: hsla(192, 44%, 63%, 1);
}
.ad span:nth-child(3) { 
	animation-delay: 6s; 
	color: hsla(55, 80%, 48%, 1);
	width: 8em;
}
.ad span:nth-child(4) { 
	animation-delay: 9s; 
	color: hsl(93, 45%, 50%);
}
.ad span:nth-child(5) { 
	animation-delay: 12s; 
	color: hsla(201, 64%, 60%, 1);
}
.ad span:nth-child(6) { 
	animation-delay: 15s; 
	color: hsla(118, 71%, 49%, 1);
	font-family: consolas;
}

.vat {
    vertical-align:top;
}


@keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; transform: translateY(-30px); transform: translateY(-30px); }
	5% { opacity: 1; transform: translateY(0px); transform: translateY(0px);}
    17% { opacity: 1; transform: translateY(0px); transform: translateY(0px); }
	20% { opacity: 0; transform: translateY(30px); transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@media (min-width: 800px) {
    :root {
        font-size: 16pt;
        line-height: 1.4;
    }
}
@media (min-width: 1600px) {
    :root {
        font-size: 18pt;
    }
}
@media (max-width: 800px) {
    :root{
        font-size: 18pt;
    }
    .intro-text{
        display:block;
    }
    .ad{
        text-indent: 0;
    }
    .intro {
        width: 84vw;
    }
    header{
        padding-top: 20vh;
    }
}
@media (max-width: 650px) {
    :root {
        font-size: 16pt;
    }
}
@media (max-width: 550px) {
    :root {
        font-size: 14pt;
    }
}
@media (max-width: 450px) {
    :root {
        font-size: 12pt;
    }
}
